# TODO: Maybe this? so I can warn a user that msvc is required not just for cython but also C++ decomp...
# setuptools

# To Compile PyBroma There is currently no escape from this one >:)
cython

# PyBroma
git+https://github.com/CallocGD/PyBroma.git

# webserver stuff for downloading everything (git is not required)
aiohttp
aiohttp_socks

# commandline
asyncclick
aiofiles